<!DOCTYPE html>
<header>
<!-- META -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- PAGE TITLE -->
<title></title>

<!-- FAVICON -->
<link rel="shortcut icon" href="/assets/images/favicon.png">

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&amp;subset=latin-ext" rel="stylesheet">

<!-- STYLESHEETS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

</header>
<body>
  {% block header %} <h3>Unnamed</h3> {% endblock %}
  {% block body %} <div>No body</div> {% endblock %}
  {% block footer %} <div>copyright</div> {% endblock %}
</body>
</html>